<div appHighlightNoteV2 id="highlight-content" class='content'>
    <div>
        The bar chart compares 10 highest-ranking countries in terms of electricity generation and consumption in 2014.
        Overall, the amounts of electricity produced and consumed in China and the US were far higher than the other
        nations.
        It is also noticeable that Germany was the only country that consumed more electricity than it generated.
        Out of the 10 nations, China ranked first with the production and consumption of electricity being just over
        5,300
        billion kWh each. The US, the second largest electricity producer and consumer, generated 4,099 billion kWh and
        consumed 3,866 billion kWh.
    </div>
    <div>
        Looking at the remaining countries, we can see that Russia was the only nation with electricity generation and
        consumption being just over 1,000 billion kWh each, followed by Japan and India, with the figures being slightly
        lower, ranging from 698.8 to 1,057 billion kWh. The figures for the other countries show a difference in
        production
        and consumption of electricity at around 50-150 billion kWh, while it is interesting to note that Germany
        produced
        526.6 billion kWh of electricity, but it consumed 582.5 billion kWh.
    </div>
    <div>
        The chart illustrates electricity consumption and production in the top ten highest countries in 2014. It is
        clear
        from the chart that all countries, with the exception of Germany, produce marginally more than they consume. The
        two
        top countries, the United States and particularly China, were strong outliers while the remaining countries had
        similar numbers and lagged far behind in both production and consumption.
    </div>
    <div>
        China produced and consumed the most, at 5,398 billion and 5,322 kWh, respectively. The next nearest country in
        terms
        of both statistics was the US, where residents consumed 3,866 kilowats an hour and produced slightly more at
        4,099.
    </div>
</div>