.center {
    width: 700px;
    margin: auto;

    .div-content {
        height: 100%;
        margin: 50px auto;
    }
}

.content {
    width: 70vw;
    margin: 20px auto;
    padding: 20px;
    border: 1px black solid;
    border-radius: 20px;
}