<div id="test">
    <input *ngIf="!viewDocx" type="file" accept=".pdf" (change)="onChangeOriginFile($event)">
    <input *ngIf="!viewDocx" type="file" accept=".pdf" (change)="onChangeTranslationFile($event)">
    <button *ngIf="!viewDocx" (click)="viewDocxFile()">Translate</button>
    <document-editor *ngIf="viewDocx" id="docxEditor" [documentServerUrl]="onlyOffice" [config]="config"
        [events_onDocumentReady]="onDocumentReady" [onLoadComponentError]="onLoadComponentError">
    </document-editor>
</div>
<div class="footer">
    <button class="complete" (click)="trainings()" *ngIf="viewDocx">Complete</button>
</div>