.content {
    font-style: normal;
    line-height: 150%;
}

.popupOnRightClick {
    display: none;
    background-color: #EAEEFA;
    border-radius: 10px;
    position: fixed;
    box-shadow: 0px 4px 20px rgba(109, 127, 179, 0.4);
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;

    button {
        padding: 8px 16px;
        border: none;
        text-align: left;
        width: 100%;
        border-left: 0.4px solid #6D7FB3;
        cursor: pointer;
        display: flex;
        align-items: center;

        img {
            height: 23px;
        }
    }

    button:hover {
        background-color: #1D68AB;
        color: white;
    }

    button:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    button:disabled:hover {
        background-color: transparent;
    }


    .buttonFirst {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border: none !important;

    }

    .buttonEnd {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.popupNote {
    min-width: 200px;
    position: fixed;
    display: none;

    textarea {
        color: black !important;
        overflow: auto !important;
        outline: none;
        padding: 10px;
        border: none;
        background: #FFF7B4;
        box-shadow: 0px 4px 20px rgba(109, 127, 179, 0.4);
        border-radius: 8px;
        resize: vertical;
        width: 200px;
    }

    div {
        padding: 10px;
        box-shadow: 1px 1px 1px #999;
        border: 1px solid #6a6767 !important;
        border-radius: 5px;
        background-color: white;
    }
}

.popupTranslate {
    position: fixed;
    display: none;
    width: 300px;
    height: 300px;
    top: 0px;
    background: #F1F4FC;
    box-shadow: 0px 4px 20px rgba(109, 127, 179, 0.4);
    border-radius: 20px;
}

.yellow-text {
    background-color: yellow;
    color: black;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.highLightText {
    background: #FFF7B4;
    cursor: pointer;
}

.highLightText-pink {
    background: #FFD6E0;
    cursor: pointer;
}

.highLightText-green {
    background: #C9FFD5;
    cursor: pointer;
}

.noteText {
    border-bottom: 2px dashed #FFA900;
    cursor: pointer;
    background: #FFF7B4;
    color: black;
}