<div class='div-translate unselectable' [id]="id"
    [ngStyle]="{'top': positionFixed.y +'px', 'left':positionFixed.x+'px'}" unselectable="on">
    <div class='div-translate-header'>
        <span>Dictionary</span>
        <button (click)="close()">x</button>
    </div>
    <div class='content'>
        <div class='tabs'>
            <div *ngFor="let tabItem of listTab; index as index" [ngClass]="{'active': tabItem === tab}" class="tab"
                (click)='changeTab(tabItem)'>
                {{tabItem}}
            </div>
        </div>
        <div class='read-text'>
            <span>
                {{text}}
            </span>
            <button (click)="speak()">
                <i class="fa fa-volume-up" aria-hidden="true"></i>
            </button>
        </div>
        <div class='translate-gg' *ngIf="translate && tab === 'Dịch'">
            Dịch: {{translate}}
        </div>
        <div *ngIf="tab === 'Tra câu'">
            <div *ngFor="let line of sentences" class='sentences'>
                - <span [innerHTML]="line.fields.vi"></span> <br>
                - <span [innerHTML]="line.fields.en"></span>
            </div>
        </div>
        <div class='view-translate' #translate_div>
        </div>
    </div>
</div>