<div class='list'>
    <div class='list-item list-item-fisrt' [ngClass]="{'list-item-active' : !activeTemplate?.id}"
        (click)='changeActiveTemplate(null)'>
        <span>
            Background
        </span>
        <span (click)="fullScreen($event)"><i class="fa-solid fa-expand"></i></span>
    </div>
    <div class='line'></div>
    <div class='list-view'>
        <div class='list-item' (click)='changeActiveTemplate(item)'
            [ngClass]="{'list-item-active' : activeTemplate?.id === item.id}" *ngFor="let item of listTemplate">
            <span>
                {{item.name}}
            </span>
            <div class='list-item-action'>
                <i class="fa-solid fa-copy" (click)="copyEle(item)"></i>
                <i class="fa-regular" [ngClass]="{'fa-eye': !item.hidden, 'fa-eye-slash' : item.hidden}"
                    (click)="hidden(item)"></i>
                <i class="fa-regular fa-trash-can" (click)="deleteELe(item)"></i>
            </div>
        </div>
        <div class='line'></div>
        <div class='div-action'>
            <button (click)="addEle()">Thêm</button>
            <button (click)="saveToImg()">Lưu File ảnh</button>
            <button (click)="save()">Lưu</button>
        </div>
    </div>
</div>